In [18]:
x=10
y=20.5

In [19]:
a='fifa'
print(a)

fifa

In [20]:
print(type(a))

<class 'str'>

In [21]:
print(type(y))

<class 'float'>

In [22]:
a='fifa'
b='worldcup'
print(a+' '+b)

fifa worldcup

In [23]:
a='fifffa'

In [24]:
print(a)

fifffa

In [25]:
a=10
print(a)

10

In [26]:
a=a+20
print(a)

30

In [27]:
a=20
b='age'

In [28]:
print("Your "+b+' is '+ str(a))

Your age is 20

In [29]:
cnt=20
print(" The record unloaded from the table is ",str(cnt))

 The record unloaded from the table is  20

In [30]:
lst=[105,102,506,456]
# element --- index -- starts from 0

In [31]:
lst[-2]

506

In [32]:
lst[3]

456

In [33]:
print(type(lst))

<class 'list'>

In [34]:
lst=[10,20,'abd','40']
# wants to sum 2nd and last element
lst[1] + int(lst[-1])

60

In [35]:
lst[0]=200

In [36]:
lst

[200, 20, 'abd', '40']

In [37]:
tpl=(10,20,30)

In [38]:
print(type(tpl))

<class 'tuple'>

In [39]:
tpl[1]=300

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl[3]

IndexError: tuple index out of range

In [ ]:
d1={"name" : "jesse"}
print(d1)
print(type(d1))

{'name': 'jesse'}
<class 'dict'>

In [ ]:
d2={"name" : "jesse","name1" : "jesse"}

In [ ]:
print(d2)

{'name': 'jesse', 'name1': 'jesse'}

In [ ]:
str="jess abc"
str[-1]

'c'

In [ ]:
a=10
b=30
c=a+b
print(c)

40

In [ ]:
txt = "hello, and welcome to my world."

x = txt.upper()

print (x)

HELLO, AND WELCOME TO MY WORLD.

In [ ]:
lst=["sanjeeb","panda"]
# (" Friend name is Sanjeeb Panda")

In [ ]:
print(f"Friend name is {lst[0].capitalize()} {lst[1].capitalize()} ")

Friend name is Sanjeeb Panda

In [ ]:
x="100"
y=f"panda {x}"
print(y)

panda 100

In [ ]:
d1={"k1":"30","k1":"30"}

In [ ]:
d1

{'k1': '30'}

In [ ]:
d1=[10,20,30]
for i in d1:
    print(i+10)

20
30
40

In [ ]:
d='abdbede'
for i in d:
    print(i)

a
b
d
b
e
d
e

In [ ]:
x=50

In [ ]:
if x >20:
    print("x is greater than 20")
else:
    print("x is less than 20")

x is less than 20

In [ ]:
if x <20:
    print("x is greater than 20")
elif x >20 and x<40:
    print(" x is medium number")
else:
    print(" x is big number")

 x is big number

In [ ]:
lst=[]
for i in list(range(1,10)):
    lst[i]=i+20

lst

IndexError: list assignment index out of range

In [ ]:
create a llst with 10 integers starting with 10 and each integer having +100 from last one

In [ ]:
list=[]
for i in range(0,10):
    list.append(10+ i*100)

In [ ]:
print(list)

[10, 110, 210, 310, 410, 510, 610, 710, 810, 910]

In [ ]:
if number is divisible by 9 then create another list1

In [ ]:
list=[]
divList=[]
for i in range(0,10):
    x=10 + 100 * i
    list.append(x)
    if x % 9 == 0:
        divList.append(x)
print(divList)

In [ ]:
d1={"k1":10,"k2":20,"k333":30,"k4":50}
lst=[10,20,30,50]

In [ ]:
x=d1.values()
print(type(x))

print(x)
y=d1.items()
print(y)
z=d1.keys()
print(z)

<class 'dict_values'>
dict_values([10, 20, 30, 50])
dict_items([('k1', 10), ('k2', 20), ('k3', 30), ('k4', 50)])
dict_keys(['k1', 'k2', 'k3', 'k4'])

In [ ]:
d1={"k1":10,"k332":20,"k333":30,"k424":50}

#if the length of the key is more then 3 then create the list
lst=[50]

ans = []

for k1 in d1.keys():
    if len(k1) >3:
        ans.append(d1[k1])

print(ans)

[20, 30, 50]

In [44]:
d1={"k1":10,"k2":20,"k3":30,"k4":50}

ans = {"k1":10,"k2":20,"k3":30,"k4":50}
# if the value is more than 30 then change it to 0

for k, v in d1.items():
    if v > 30:
        d1[k] = 0

d1

{'k1': 10, 'k2': 20, 'k3': 30, 'k4': 0}

In [40]:
d1={"k1":10,"k2":20,"k3":30,"k4":50}

lst = [key for key in d1.keys() if len(key) > 3]

for k1 in d1.keys():
    if len(k1) >3:
        print(x)

In [ ]:
how to check if k1 in d1

In [ ]:
lst=[10,20,34,55,30,90]
sort the list writing logic
output=[10,20,30,34,55,90]
s1="footbal match"
create a dict where key is the chracter in the s1 and value is number of times the character is in s1
ex:
d1={"f":1,"o":2}