In [12]:

""" 
1.Create table :tran_fact
tran_id int, cust_id varchar(20),tran_date date,tran_ammount decimal(10,2), tran_type varchar(1)
database name: src_customer
tablename: src_transaction
partition : 2023-02-01, 2023-02-02,2023-02-03 :ex

tran_id : unique id of 6 character
cust_id : CA+ 4 integer
tran_date: is constant for one file
tran_ammount: number havin decimal(10,2)
tran_type :[C/D]
sate_cd :varchar(2)


102020,CA1001,2022-02-01,1200,C,CA
102021,CA1002,2022-02-01,700,C,NY
102022,CA1003,2022-02-01,500,C,NJ
102023,CA1004,2022-02-02,900,C,VA
102020,CA1001,2022-02-02,200,D,CA


2. Create static partition as dataset_date as varchar(10). Make sure tran_date < dataset_date-1
3. Add 7 partitions dataset_date

Data stats process:
1. create a table as table_states:
cols:
database_name varchar(20),
table_name varchar(50),
partition_key varchar(30),
rec_count int(10),
load_date date,    [[ when are you loading current_time ]]
execution_key varchar(100)  >>> Partition col

execution_key is (database_name + "-"+table_name+"-"+partition_key)  [src_customer-tablename-2023-02-01,src_customer-tablename-2023-02-02]


2. After each load into tran_fact run the query to load data into table_states
query is : get the count from tran_fact an load into table_states

insert into table     [[ select from cource table   ]]]]
""" 
execfile('scripts/hadoop_question/generate_tran_fact_data.py')

# see scripts/hadoop_question/hive/load_table_states.sh
# see scripts/hadoop_question/hive/init_tran_fact.sh

Generating 3139 records for 2023-01-01
data/src_customer/tran_fact/daily/tran_fact_2023-01-01.csv
Generating 8326 records for 2023-01-02
data/src_customer/tran_fact/daily/tran_fact_2023-01-02.csv
Generating 4569 records for 2023-01-03
data/src_customer/tran_fact/daily/tran_fact_2023-01-03.csv
Generating 5143 records for 2023-01-04
data/src_customer/tran_fact/daily/tran_fact_2023-01-04.csv
Generating 4771 records for 2023-01-05
data/src_customer/tran_fact/daily/tran_fact_2023-01-05.csv
Generating 6482 records for 2023-01-06
data/src_customer/tran_fact/daily/tran_fact_2023-01-06.csv
Generating 4082 records for 2023-01-07
data/src_customer/tran_fact/daily/tran_fact_2023-01-07.csv
Data generated for 7 days
[('data/src_customer/tran_fact/daily/tran_fact_2023-01-01.csv', '2023-01-01'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-02.csv', '2023-01-02'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-03.csv', '2023-01-03'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-04.csv', '2023-01-04'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-05.csv', '2023-01-05'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-06.csv', '2023-01-06'), ('data/src_customer/tran_fact/daily/tran_fact_2023-01-07.csv', '2023-01-07')]
data/src_customer/tran_fact/daily/tran_fact_2023-01-01.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-02/tran_fact_2023-01-01.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-02.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-03/tran_fact_2023-01-02.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-03.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-04/tran_fact_2023-01-03.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-04.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-05/tran_fact_2023-01-04.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-05.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-06/tran_fact_2023-01-05.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-06.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-07/tran_fact_2023-01-06.csv
data/src_customer/tran_fact/daily/tran_fact_2023-01-07.csv quintrix-spearscjs data/src_customer/tran_fact/dataset_date=2023-01-08/tran_fact_2023-01-07.csv

In [ ]:

""" 
3. Create transaction_fact same as tran_fact in schema cards_dw.
you provide path in s3 and add some comment  [[ look how to pass comment in ceating hive database]
cols:
tablename: transaction_fact   [ stored as parquet and snappy]

tran_id :
cust_id :
tran_date:
tran_ammount:
tran_type :[
load_time: current time   [[ datetime ]]
dataset_date ,sate_cd : partition col
""" 
# see emr/init_tran_fact.sh

""" 

Build a sql which will read one day data from tran_fact and load into transaction_fact
4. Add parameter into sql script which will be passed from command line.
""" 
# see emr/load_transaction_fact


"""
4. Add parameter into sql script which will be passed from command line.
"""
# emr/load_transaction_fact.sh [arg]

In [ ]:
""" 
/*
Dataquality check:
1. create a table as table_states:
cols:
database_name varchar(20),
table_name varchar(50),
partition_key varchar(30),
rec_count int(10),
dataset_date date,
execution_key varchar(100)  >>> Partition col

execution_key is (database_name + "-"+table_name+"-"+partition_key


2. After each load into tran_fact run the query to load data into table_states
query is : get the count from tran_fact an load into table_states

*/
""" 
# see emr/src_customer/ct_table_states.hql

In [ ]:
# OLD 
""" 
1.Create table :tran_fact
tran_id int, cust_id varchar(20),tran_date date,tran_ammount decimal(10,2), tran_type varchar(1)

102020,CA1001,2022-02-01,1200,C
102021,CA1002,2022-02-01,700,C
102022,CA1003,2022-02-01,500,C
102023,CA1004,2022-02-02,900,C
102020,CA1001,2022-02-02,200,D
102029,CA1001,2022-02-02,700,C
102024,CA1005,2022-02-03,12200,C
102025,CA1003,2022-02-03,200,D
102026,CA1004,2022-02-04,12200,C
102027,CA1007,2022-02-04,9200,C
102028,CA1007,2022-02-04,3200,D
*/

CREATE SCHEMA IF NOT EXISTS hadoop_ingest;
DROP TABLE hadoop_ingest.tran_fact;
CREATE TABLE hadoop_ingest.tran_fact(  
    tran_id int, 
    cust_id varchar(20),
    tran_date date,
    tran_ammount decimal(10,2), 
    tran_type varchar(1)
);
INSERT INTO hadoop_ingest.tran_fact (tran_id, cust_id, tran_date, tran_ammount, tran_type) VALUES 
    (102021,'CA1002','2022-02-01',700,'C'),
    (102022,'CA1003','2022-02-01',500,'C'),
    (102020,'CA1001','2022-02-02',200,'C'),
    (102023,'CA1004','2022-02-02',900,'C'),
    (102020,'CA1001','2022-02-02',200,'D'),
    (102029,'CA1001','2022-02-02',700,'C'),
    (102024,'CA1005','2022-02-03',12200,'C'),
    (102025,'CA1003','2022-02-03',200,'D'),
    (102026,'CA1004','2022-02-04',12200,'C'),
    (102027,'CA1007','2022-02-04',9200,'C'),
    (102028,'CA1007','2022-02-04',3200,'D'),
    (102028,'CA1007','2022-02-05',3200,'C'),
    (102029,'CA1007','2022-02-05',3200,'D')
;
"""