In [2]:
import db

In [44]:
# 1. Create a a file:
# col:
# product_name varchar(20),
# manufacturingcost decimal(5,2)
import random

product_costs = {}

product_names = ['iphon11','iphone12','iphone13','iphoneSE','IpadMax','IpadMini','laptop256','Macbook512', 
    'galaxy10','galaxy11','galaxy12','galaxy13','watch320','watch340', 'Nk320','Nk400','Nk500']

f = open('product_costs.csv', 'w')
f.write('product_name' + ',' + 'manufacturing_cost\n')
for p in product_names:
    f.write(p + ',' + str(round(random.uniform(100.00, 999.99),2)) + '\n')
f.close()

In [16]:
# For each product build record using python script.
# 'iphon11','iphone12','iphone13','iphoneSE','IpadMax','IpadMini','laptop256','Macbook512'],
# 'Samsung':['galaxy10','galaxy11','galaxy12','galaxy13','watch320','watch340'
 
# create a table in redshift also.-- table name product_cost
 
# 2. Load data into s3 in separate folder (order data must be created earlier in class project 3).
'''
done in AWS CLI
'''

In [ ]:
# 3. Use copy command  to load data into redshift by.
query = """ 
    COPY cards_ingest.order
    FROM -- 
    credentials --
    csv IGNOREHEADER 1;
"""

db.do_query(query, [])

In [5]:
# 4  create a view by joining order and product_cost.
query = """ 
    CREATE SCHEMA IF NOT EXISTS vw; 
"""
db.do_query(query, [])

query = """ 
CREATE OR REPLACE VIEW vw.order_product_cost AS 
    SELECT o.*, c.manufacturing_cost FROM cards_ingest.order o
    JOIN cards_ingest.product_cost c
    ON o.product_name = c.product_name;
"""
db.do_query(query, [])

In [ ]:

# 5. Unload data from view into s3 bucket (this has to be separate bucket then created earlier) (not doing yet)